numpy
networkx
tqdm
scipy
pandas
six
pillow
numba
matplotlib
fa2
onnx
PyYAML
ipython
stopit
datashader
dask
scikit-image
bezier==2021.2.12
sphinx
sphinxcontrib-bibtex
pytest
pytest-cov
pytest-github-actions-annotate-failures